.ui-autocomplete{max-height:300px}
.eventlog-datecol{font-weight:bold;text-align:right;padding-right:10px;width:115px}
.http-referer-text a{opacity:1.0!important;filter:alpha(opacity=100)!important}
.login-entry-holder{float:left;padding:5px 35px 5px 5px;min-height:38px}
.login-entry-holder .login-entry-title{clear:both;display:block;padding-bottom:2px;font-weight:bold}
.login-entry-holder .login-entry-text{clear:both;display:block;font-size:12px}
.login-entry-holder .login-entry-title,.login-entry-holder .login-entry-text{text-align:left!important}
.ipaddress-login-entry{min-width:100px}
.nameused-login-entry{min-width:150px}
.type-login-entry,.valid-login-entry{min-width:50px}
.date-login-entry{min-width:125px}
.httpreferer-login-entry{float:none!important;clear:both}
.usertoignore-item{clear:both;padding:5px 0}
.usertoignore-item .td-delete-btn{display:none}
.usertoignore-item:hover .td-delete-btn{display:block}
#page-view-chartcol{padding-top:5px;padding-bottom:15px}
.network-info-holder{float:left;padding-right:30px;width:35%}
.network-info-tables{border-spacing:0;border-collapse:collapse;width:100%}
.network-info-title,.network-info-value{padding:5px;text-align:left;vertical-align:middle}
.network-info-title{font-weight:bold;padding-right:15px!important;border-right:1px solid #DDD;border-left:1px solid #DDD;border-bottom:1px solid #DDD}
.network-info-value{font-weight:normal;border-right:1px solid #DDD;border-bottom:1px solid #DDD}
.myHeaderStyle-network-tables{height:35px;margin-bottom:0px;text-align:center;width:100%;background:#eeeeee;background:-moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));background:-webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);background:-o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);background:-ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);background:linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 )}
.myHeaderStyle-network-tables td,.myHeaderStyle-network-tables th{border-bottom:1px solid #B7B7B7;border-right:1px solid #D0D0D0;color:#444;font-weight:400;padding:0 5px;vertical-align:middle;font-weight:bold}

@media screen and (max-width: 1000px) {
    #timetotrack-networklog{clear:both;padding-top:7px!important;padding-left:0px!important}
    .page-url-column{display:none}
    .network-info-holder{float:none;padding-right:0;display:block;padding-bottom:30px;width:100%}
}

@media screen and (max-width: 750px) {
    #page-view-chartcol{display:none}
}
