.averagerequests{padding:40px 5px 25px 5px}
.averagerequests span{font-size:17px;font-weight:normal;color:#555}
.ui-autocomplete{max-height:300px;min-width:385px;max-width:50%}
.eventlog-datecol{font-weight:bold;text-align:right;padding-right:10px;width:115px}
