.app-span-modify{color:#555!important}
.app-icon-admin{margin-left:0!important;margin-right:0!important}
#MainContent_cb_associatedOverlay td{padding-bottom:3px;padding-right:15px}
#MainContent_cb_associatedOverlay input{float:left;margin-top:1px;margin-right:2px}
