.groups-workspace-entry { float: left; padding: 7px 5px 10px 5px; margin-right: 40px; }
    .groups-workspace-entry img { float:left; height: 30px; padding-right: 10px; border: 0; }
    .groups-workspace-entry span { float: left; line-height: 30px; font-size: 15px; }