#pnl_images { min-height: 335px!important; }
.group-img-edit { float: left; max-height: 24px; margin-top: -1px; margin-left: 0; margin-right: 8px; }
.adminpageedit { margin-right: 10px; min-width: 150px; }
#pnl_overlayList .item-column { padding: 5px 10px; }
#dd_category_edit td { padding-bottom: 3px; padding-right: 15px; }
#img_appstyleexample { max-height: 75px; margin: 5px; border: 1px solid #DDD; max-width: 100%; }
#dd_category_edit input { float: left; }
#dd_category_edit label { float: left; }
.div_usedefaultcolor { margin-left: 143px; }
    .div_usedefaultcolor input[type="checkbox"] { float: left; margin-right: 3px; }
