#editor { position: relative; top: 0; width: 100%; left: 0; font-size: 14px; }
#MainContent_cb_associatedOverlay td, #MainContent_cc_associatedOverlayNew td { padding-bottom: 5px; }
#MainContent_dd_category td, #MainContent_dd_category_edit td, #MainContent_dd_package td { padding-bottom: 3px; padding-right: 15px; }
.app-icon-parms .app-icon-font { color: #353535!important; }
.div_usedefaultcolor input[type="checkbox"] { float: left; margin-right: 3px; }