#table_columns .GridViewNumRow, #table_columns_summary .GridViewNumRow { cursor: move; }
.checkbox-click { cursor: default; }
.cb_style > input[type='checkbox'] { float: left; }
.cb_style > label { float: left; }
.view-edit-condition { clear: both; padding-top: 3px; }
    .view-edit-condition a { font-size: 11px; }
