/* Bookmark App Properties
----------------------------------*/
.bookmark-html-link{font-weight:bold;color:#404040}
.bookmark-html-link:hover{text-decoration:underline}
.bookmark-table-styles{clear:both;width:100%;min-height:60px;border-bottom:1px solid #DDD;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.bookmark-table-styles img{padding:10px}
.bookmark-table-styles .bookmark-edit-btn-holder{display:none;width:100px;text-align:center}
.bookmark-table-styles:hover{-moz-box-shadow:-1px 1px 1px rgba(0,0,0,.2);-webkit-box-shadow:0 2px 4px rgba(0,0,0,.2);box-shadow:0 2px 4px rgba(0,0,0,.2);background:#F1F1F1;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.bookmark-table-styles:hover .bm-hidden{display:inline}
.bookmark-table-styles:hover .bookmark-edit-btn-holder{display:table-cell}
.bookmark-table-YoutubeLink img{cursor:pointer}
.bookmark-table-styles .td-delete-btn,.bookmark-table-styles .td-add-btn,.bookmark-table-styles .td-edit-btn{opacity:0.4;filter:alpha(opacity=40)}
.bookmark-table-styles:hover .td-delete-btn,.bookmark-table-styles:hover .td-add-btn,.bookmark-table-styles:hover .td-edit-btn{opacity:1.0;filter:alpha(opacity=100)}
.bm-hidden{display:none}
.bookmarkviewer-800-maxwidth .searchwrapper{display:block!important;clear:both!important;margin-top:5px!important;margin-bottom:5px!important;width:100%!important}
.bookmarkviewer-800-maxwidth .bookmark-table-styles td{display:block!important;width:100%!important;text-align:center!important}
.bookmarkviewer-800-maxwidth .float-right{float:none!important;display:inline-block!important}
.bookmarkviewer-800-maxwidth .pad-left-big{padding-left:0px!important}
.bookmarkviewer-800-maxwidth .bookmark-table-styles img{padding-right:0px!important;margin-top:5px}
.bookmarkviewer-800-maxwidth .bookmark-table-YoutubeLink img{width:auto!important;padding-right:0px!important;margin-top:5px}
.bookmarkviewer-800-maxwidth #pnl_BookmarkPnlBtns{padding:5px 0;text-align:center}
.bookmarkviewer-800-maxwidth #pnl_BookmarkPnlBtns > .input-buttons{width:auto!important;padding:5px 18px!important;font-size:15px!important;font-weight:normal!important}
.bookmarkviewer-800-maxwidth .bookmark-html-link{font-size:14px;padding:0 5px!important}
.bookmarkviewer-800-maxwidth .bookmark-edit-btn-holder{margin:5px 0}