<?xml version="1.0"?>

<configuration>
    <!--<system.net>
        <connectionManagement>
            <add address="*" maxconnection="100" />
        </connectionManagement>
    </system.net>-->
    <!--<system.web>
        <processModel autoConfig="true"
                      maxWorkerThreads="100"
                      maxIoThreads="100"
                      minWorkerThreads="50"
                      minIoThreads="50" />
        <httpRuntime
            minFreeThreads="176"
            minLocalRequestFreeThreads="152" />
    </system.web>-->
</configuration>