<?xml version="1.0"?>
<!-- THIS WEB.CONFIG FILE IS FOR SERVERS USING THE SQL EXPRESS DATABASE -->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Bin" />
        </assemblyBinding>
    </runtime>
    <connectionStrings>
        <clear />
        <CONNECTIONSTRINGHERE/>
    </connectionStrings>
    <system.web>     
        <MACHINEKEYHERE/>
        <sessionState timeout="5000" />
        <httpRuntime maxRequestLength="1048576" executionTimeout="86400" targetFramework="4.5"/>
        <trace enabled="false" pageOutput="false" />
        <customErrors mode="Off" defaultRedirect="ErrorPages\Error.html" />
        <COMPILATIONHERE>
            <buildProviders>
                <add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
                <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
            </buildProviders>
            <assemblies>
                <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </COMPILATIONHERE>
        <trust level="Full" />
        <authentication mode="Forms">
            <forms loginUrl="Default.aspx" timeout="2880" />
        </authentication>
        <membership userIsOnlineTimeWindow="14400">
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
            </providers>
        </membership>
        <profile>
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
            </providers>
        </profile>
        <roleManager enabled="true">
            <providers>
                <clear />
                <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
                <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
            </providers>
        </roleManager>
        <authorization>
            <allow users="*" verbs="POST" />
        </authorization>
        <pages controlRenderingCompatibilityVersion="4.0" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="X-Requested-With" />
                <add name="Access-Control-Max-Age" value="60" />
            </customHeaders>
        </httpProtocol>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers accessPolicy="Read, Write, Execute, Script">
            <remove name="WebDAV" />
            <remove name="SimpleHandlerFactory-Integrated-4.0" />
            <remove name="SimpleHandlerFactory-Integrated" />
            <add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Write" preCondition="integratedMode" />
            <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Write" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="*" verbs="GET,POST" />
            </authorization>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
                <fileExtensions>
                    <add fileExtension=".ashx" allowed="true" />
                </fileExtensions>
                <verbs>
                    <add verb="POST" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="50000000" />
            </webServices>
        </scripting>
    </system.web.extensions>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
        <add key="DefaultDocument" value="Default.aspx" />
    </appSettings>
</configuration>