<?xml version="1.0"?>
<!-- THIS WEB.CONFIG FILE IS THE DEFAULT WEB.CONFIG FOR SETTING UP NEW SITE -->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <customErrors mode="On" defaultRedirect="DatabaseSelection.aspx" />
        <compilation debug="false" targetFramework="4.5"/>
        <authentication mode="Forms" />
        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
    </system.web>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
    </appSettings>
</configuration>