/* Twitter Station
----------------------------------*/
.app-main-holder[data-appid="app-twitterstation"] .app-body,#container[data-appid="app-twitterstation"]{background-color:#ECECEC!important}
#twitterstation-posts{padding-bottom:20px}
#twitterstation-load{background:transparent!important}
#twitterstation-load .app-title-bg-color{border-bottom:1px solid #ECECEC!important}
.twitter-header{padding:10px;min-height:34px;border-bottom:1px solid #DDD;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out}
.twitter-header a{opacity:0.4;filter:alpha(opacity=40)}
.twitter-header img{max-width:34px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.twitter-header h3{font-size:18px;padding-right:10px}
.twitter-header h4{font-size:12px;padding-right:10px}
.twitter-header:hover{background:#EFEFEF}
.twitter-header:hover a{opacity:1.0;filter:alpha(opacity=100)}
.twitter-feed-box{display:inline-block;float:left;text-align:left;width:25%;position:relative}
.twitter-feed-box .twitter-feed-box-padding{display:block;padding:15px 12px;border-top:1px solid #CCC;overflow:auto;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;background:#FFF;margin:5px;-webkit-box-shadow:0px 2px 12px -1px rgba(0,0,0,0.2);-moz-box-shadow:0px 2px 12px -1px rgba(0,0,0,0.2);box-shadow:0px 2px 12px -1px rgba(0,0,0,0.2)}
.twitter-feed-box .twitter-feed-img{float:left;height:40px;margin-right:10px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.twitter-feed-box .twitter-feed-name{font-size:15px;font-weight:bold;padding-right:15px}
.twitter-feed-box .twitter-feed-screenname{font-size:12px;color:#999}
.twitter-feed-box .twitter-feed-text{padding-top:10px;font-size:14px;line-height:18px}
.twitter-feed-box .twitter-feed-text > a{margin-right:8px}
.twitter-feed-box .twitter-feed-date{float:right;font-size:11px;color:#999}
.twitter-box-list{text-align:center;margin:0 auto;position:relative}
#update-int-text{font-size:11px}
#twitterstation-posts .loading-tweets{position:absolute;left:0;right:0;top:54px;z-index:2;padding:10px;display:block;color:#FFF;font-size:15px;background:rgba(0,0,0,0.7);text-align:center}
.twitter-box-list-850-maxwidth{width:auto!important;height:auto!important}
.twitter-feed-box-850-maxwidth{display:block!important;float:none!important;width:100%!important}
.twitter-box-list-850-maxwidth .app-text-titlebar{display:none}
